data/** filter=lfs diff=lfs merge=lfs -text
data/**/README.md !filter !diff !merge text
data/**/*.py !filter !diff !merge text
wandb_weights/** filter=lfs diff=lfs merge=lfs -text
wandb_weights/**/*.yaml !filter !diff !merge text
